<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AIPS - Orientações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3 class="ion-padding-start ion-padding-end">
      Antes de começar gostaríamos de passar algumas orientações
    </h3>
    <div class="ion-padding-start ion-padding-end ion-font-size">
      <ul>
        <li>Todas as perguntas deverão ser respondidas</li>
        <li>Para uma análise acertiva, seja sincero nas suas respostas</li>
        <li>Demore o tempo que precisar para cada pergunta</li>
        <li>
          <div>Todas as informações aqui fornecidas são armazenadas de forma sigilosa para sua privacidade de acordo
            com a <b>LEI Nº 14.289, DE 3 DE JANEIRO DE 2022</b></div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>

<ion-footer>
  <p class="ion-padding-start ion-padding-end">
    <ion-button color="success" expand="block" size="large" (click)="start()">COMEÇAR</ion-button>
  </p>
</ion-footer>