<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AIPS - Seja muito bem vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p class="ion-padding-start ion-padding-end">
      <img width="80%" src="assets/children.jpg">
    </p>
    <p class="ion-padding-start ion-padding-end ion-font-size">
      Estamos aqui para te auxiliar e ajudar em um pré-diagnóstico da doença AIDS<br />
      <br />Nosso aplicativo é capaz de fazer uma análise completa e detalhada atráves das próximas etapas que virão
      após clicar em <strong>INICIAR</strong><br />
      <br />Seja verdadeiro e conclua todas as questões e solicitações a seguir<br />
      Fique tranquilo, todos as informações fornecidas por você aqui ficaram seguras e sua privacidade será totalmente
      respeitada
      <br />No final iremos te orientar
    </p>
  </div>
</ion-content>
<ion-footer>
  <p class="ion-padding-start ion-padding-end">
    <ion-button color="success" expand="block" size="large" (click)="start()">INICIAR</ion-button>
  </p>
</ion-footer>